#primary-content, #secondary-content {
	float: none;
}
#featured {max-width: 80%;}
#featured, .eating {
	float: none;

}
 	.eating {
	margin-left: 330px;
    margin-top: -310px;
    margin-bottom: 180px;
}



.explanation {
    margin: 200px 0 0 -15px;
    padding: 0 15px;
    width: 330px;
}